<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
    <!-- Added by author -->
    <defaultDocument enabled="true">
         <files>
            <add value="Home.html" />
         </files>
    </defaultDocument>
    <!-- Added by author -->
		<handlers>
			<add verb="*" path="Sync" type="CustomIHttphandler.Entry, CustomIHttphandler" name="Entry2"/>
			<add verb="*" path="Async" type="CustomIHttphandler.EntryAsync, CustomIHttphandler" name="EntryAsync"/>
		</handlers>
	</system.webServer>

</configuration>
